.landing-page {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
}

.welcome-message {
  font-size: 24px;
  margin-bottom: 20px;
}

.dashboard-title {
  font-size: 20px;
  margin-bottom: 20px;
}

.admin-panel {
  /* Add styles for admin panel content */
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #d32f2f;
}

.movie-listings img {
  width: 206px;
  height: 200px;
  margin: 10px 0;
  border-radius: 8px;
}
