.select-box-label {
  display: inline-block;
  margin-right: 10px; /* adjust spacing between boxes */
}

.select-box {
  display: inline-block;
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 20px; /* make it pill-shaped */
  margin-bottom: 10px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease;
}

.select-box.selected {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.select-box:hover {
  background-color: #f0f0f0;
}

.select-box.selected:hover {
  background-color: #0056b3;
}
